{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{ if not .Date.IsZero }}
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    {{ end }}
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

  {{ if or .Params.categories .Params.tags }}
    <footer class="post-taxonomies">
      {{ with .Params.categories }}<p class="post-cats">Categories: {{ range . }}<a href="{{ "categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</p>{{ end }}
      {{ with .Params.tags }}<p class="post-tags">Tags: {{ range . }}<a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</p>{{ end }}
    </footer>
  {{ end }}

  {{ if .Params.comment_id }}
    {{ partial "comments.html" . }}
  {{ end }}

  {{ if .Params.pingback_id }}
    {{ partial "pingbacks.html" . }}
  {{ end }}
</article>
{{ end }}
